.container {
  width: 400px;
  border: 4px solid black;

  .content {
    width: 200px;
    height: 100px;
    background-color: #5db160;
    float: left;
  }
  .side-bar {
    width: 200px;
    height: 300px;
    background-color: rgb(110, 56, 110);
    float: left;;
  }
}

.content,
.side-bar,
.footer {
  text-align: center;
  font-weight: bold;
}

.footer {
  width: 500px;
  height: 50px;
  background-color: #9c742d;
}